numpy
scipy
scikit-learn
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
Flask
Flask-Login==0.5.0
Flask-Session==0.4.0
Flask_SocketIO==4.3.2
python-engineio==3.14.2
python-socketio==4.6.1
itsdangerous
Jinja2
MarkupSafe
six
Werkzeug
eventlet
psutil
