/* my CSS style.
Note: # refers to an ID; . refers to a class. */

/*
author: Zhida Li
last edit: Feb. 9, 2022
*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans SC', sans-serif;
}

p, a, input, label, textarea, span, ul, li {
    font-family: 'Open Sans', sans-serif;
}

/* h3 size */
h3 {
    font-size: 35px;
    line-height: 1.5;
}

/* p color */
p {
    /* color: #707070; */
    color: #3b3b3b;
}

/* bootstrap p class. Make a paragraph stand out, use "." with two conditions */
p.lead {
    color: black;
}

/* good width in general */
img {
    max-width: 100%;
}

/* buttons */
.btn {
    background: #4078d3;
    color: white;
    /* TopBottom leftRight */
    padding: 10px 20px;
    border-radius: 10px;
}

/* BackToTop button */
#btn_toTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #4078d3;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 30px;
}

#btn_toTop span {
    display: block;
}

#btn_toTop:hover {
    background-color: #555;
}

/* navigation bar */
/* align with jumbotron */
header .container {
    padding: 0px;
}

/* header nav img{
    width: 175px;
} */
header li {
    margin: 10px;
}

header {
    background: #343a40;
}

/* header .navbar .navbar-nav .nav-link:active{
    color: red;
} */
header .navbar .navbar-nav .nav-link {
    color: white;
}

header .navbar .navbar-nav .nav-link:hover {
    color: #bbb9b9 !important;
}

#navbar_brand {
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px 5px;
    margin-right: 100px;
}

header .collapse {
    padding: 0px 45px;
}

#intro .jumbotron {
    height: 60vh;
    margin-bottom: 0px;
    background: white;
    /* rgba(red, green, blue, alpha) The alpha 0.0 (fully transparent) and 1.0 (not transparent at all) */
    /* background-image: linear-gradient(to right, rgba(255,255,255,0.9) 20%,rgba(255,255,255,0.1) 100%), */
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.99) 20%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0) 95%),
    url("../../static/imgs/bgpGuard_index_jumbotron.png");
    background-size: contain;
    background-position: center;
}

#intro h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.5;
}

/* center the container */
#intro .jumbotron .container {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#intro_framework h3 {
    margin-bottom: 60px;
}

#intro_framework {
    padding: 80px 0px;
    background: rgb(248, 248, 248);
}


/* intro_2modes section */
#intro_2modes {
    padding: 80px 0px;
}

#intro_2modes h3 {
    margin-bottom: 60px;
}

/* intro_2modes sec content on the figures */
/* 1st col */
#intro_2modes .upper {
    position: relative;
}

#intro_2modes .innertext {
    position: absolute;
    bottom: 3px;
    left: 20px;
}

/* click on background, rgba(255, 255, 255, 0.3);*/
#intro_2modes .innertext span {
    background: #adb5bd9c;
    padding: 0px 15px;
    border-radius: 20px;
}

/* h4 adjustment */
#intro_2modes .container h4 {
    font-size: 22px;
    margin-top: 18px;
}

/* 2nd col */
#intro_2modes .lower h3 {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* icon margin */
#intro_2modes .lower i {
    margin-right: 6px;
}

#intro_2modes .lower {
    /* top right bottom left */
    padding: 6px 20px 20px 20px;
}

#intro_2modes .outer {
    background: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    width: 90%;
}

/* intro_2modes all text in black */
#intro_2modes a {
    color: black;
}

/* Select and style a link when you mouse over it: */
#intro_2modes a:hover {
    text-decoration: none;
}

/* Remove the bullets at the beginning from the list */
#intro_2modes li {
    list-style-type: none;
}


/* intro_author section */
#intro_author {
    padding: 80px 0px;
    background: rgb(248, 248, 248);
}

#intro_author h3 {
    margin-bottom: 60px;
}

#intro_author img {
    width: 150px;
    border-radius: 10px;
    margin-bottom: 15px;
}


/* email section padding */
#email {
    padding: 80px 0px;
}

#email h3 {
    margin-bottom: 60px;
}


footer {
    border-top: 1px solid #c9c9c9;
    padding: 40px 0px;
    background: #343a40;
}

/*footer img{*/
/*    width: 160px;*/
/*    margin-bottom: 15px;*/
/*}*/
footer h5 {
    margin-bottom: 15px;
    color: white;
}

footer p {
    color: #c9c9c9;
}

footer ul li a {
    color: #c9c9c9;
}

footer ul li a:hover {
    color: #bbb9b9;
}

/* email in red */
footer .col-md-4 a {
    color: #f05f5c;
}

/* footer middle list */
footer ul {
    list-style: none;
    padding: 0px;
    float: left;
    /* element space */
    margin-right: 50px;
}

/* space for each li, not working for just put "ul" here */
footer ul li {
    margin-bottom: 10px;
}

/* Real-time detection section */
#ad_realTime h3 {
    margin-bottom: 60px;
}

#ad_realTime {
    /* top right bottom left */
    padding: 80px 0px 20px 0px;
    background: rgb(248, 248, 248);
}

#echart_ripe {
    /* top right bottom left */
    padding: 20px 0px 80px 0px;
    background: white;
}

.clock_digital {
    letter-spacing: 3px;
    /*color: #1e88e5;*/
}

/* disconnect button background color */
#btn_disconnect {
    background: #6c757d;
}

/* Off-line classification section */
#ad_offLine h3 {
    margin-bottom: 60px;
}

#ad_offLine {
    /* top right bottom left */
    padding: 80px 0px 20px 0px;
    background: rgb(248, 248, 248);
}

#offLine_ripe {
    /* top right bottom left */
    padding: 20px 0px 80px 0px;
    background: white;
}

/*make the option bold after selecting */
#offLine_ripe .label-to-bold-if-checked:checked + .label-check {
    font-weight: bold;
    font-size: 150%;
}

/* submit button padding */
#btn_submit {
    width: 50%;
    /* TopBottom leftRight */
    /*padding: 10px 200px;*/
}

/* reset button background color */
#btn_reset {
    background: #6c757d;
}
