<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BGP Anomaly Detection Tool</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            namespace = '/test_conn';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            socket.on('server_response', function (res) {
                console.log(res.data[0], res.data[1]);
                var t1 = res.data[0];
                $('#t1_num').text(t1);
                //document.getElementById("t1_num").innerHTML = t1; // both methods are fine
                var t2 = res.data[1];
                $('#t2_num').text(t2);
            });
        });
    </script>

</head>

<body>

<!-- Navigation Bar -->
<h1>Navigation Bar</h1>
<p>Tool name | Experiment | Real-Time | Contact | Login</p>
<p>Note: need a layout.html template</p>
<p>Login feature can be finished in the end</p>
<hr>

{% block content %}
<!-- Add content -->
{% endblock %}

<hr>
<br><br><br>
<div id="footer">
    <p>Copyright (c) 2020 CNL All rights reserved</p>
</div>
</body>
</html>