{% extends "layout.html" %}

{% block content %}

<!-- Part 1 -->
<h1>{{ header2 }}</h1>
<hr>

<!-- Part 2 -->
<h1>Collection Site Selection</h1>
<hr>

<!-- Part 3 -->
<h1>Real-Time Detection for RIPE</h1>
<p>EChart</p>
<p>Data preview</p>
<p>Plot features</p>
<hr>

<!-- Part 4 -->
<h1>Real-Time Detection for Route Views</h1>
<p>EChart</p>
<p>Data preview</p>
<p>Plot features</p>
<hr>

<!-- Part 5 -->
<h1>Download result files</h1>
<p>Can be finished in the end with login feature</p>

{% endblock %}