{% extends "layout.html" %}

{% block content %}
        <!-- Real-time detection section -->
        <section id="ad_realTime">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>{{ header1 }}</h3>
                    </div>
                </div>

                <!-- introduction -->
                <div class="row">
                    <div class="col-md-10 offset-md-1 text-left">
                        <p>Real-time data retrieving and detection using the update messages collected by
                            RIPE or Route Views and detection using pre-trained BLS models.
                        </p>
                    </div>
                </div>

                <!-- Display current time -->
                <div class="row">
                    <div class="col-md-10 offset-md-1 text-center">
                        <p class="lead">Current time: <span id="t_currentTime"></span></p>
                        <p>Data collector: rrc04 located at CIXP, Geneva</p>
                        <p>Testing numbers (1-100) are emitted from the server:</p><p id="t2_num">t2</p>
                        <!-- Emit data JS -->
                        <script src="../static/js/data_emit.js"></script>
                    </div>
                </div>
            </div>
        </section>

        <!-- EChart section for RIPE and Route Views -->
        <section id="echart_ripe">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <!-- Select parameters -->
                        <p class="lead">Retrieving and classify BGP routing records collected by RIPE</p>
                        <!-- Buttons for connection and disconnection -->
                        <div class="btn-toolbar">
                            <button id="btn_connect" type="button" class="btn btn-success mr-3">Connect</button>
                            <button id="btn_disconnect" type="button" class="btn btn-secondary" disabled>Disconnect</button>
                        </div>
                        <br>

                        <!-- Plotting animation -->
                        <div class="d-flex align-items-center">
                            <strong>Anomaly detecting..</strong>
                            <div class="spinner-grow spinner-grow-sm text-primary ml-auto" role="status" aria-hidden="true"></div>
                        </div>

                        <!-- EChart placeholder -->
                        <div id="echart_cpu" class="col-md-12" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
                        <!-- Data direction: Server => user, EChart JS -->
                        <script src="../static/js/echart_emit.js"></script>
                    </div>
                </div>
                <!-- <hr style="height:2px;border-width:0;color:gray;background-color:gray"> -->
            </div>
        </section>

{% endblock %}
