{% extends "layout.html" %}

{% block content %}
        <!-- Real-time detection section -->
        <section id="ad_realTime">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>{{ header1 }}</h3>
                    </div>
                </div>

                <!-- introduction -->
                <div class="row">
                    <div class="col-md-10 offset-md-1 text-left">
                        <p>Real-time data retrieving and detection using the update messages collected by
                            RIPE or Route Views and detection using pre-trained BLS models.
                        </p>
                    </div>
                </div>

                <!-- Display current time -->
                <div class="row">
                    <div class="col-md-10 offset-md-1 text-center">
                        <p class="lead">Coordinated Universal Time (UTC): <span id="t_utc"></span></p>
                        <p>Data collector: rrc04 located at CIXP, Geneva</p>
                    </div>
                </div>

                <!-- Display results -->
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-left">
                        <p class="lead">Classification results:</p>
                        <p id="results1_p">Results for the 1st minute</p>
                        <p id="results2_p">Results for the 2nd minute</p>
                        <p id="results3_p">Results for the 3rd minute</p>
                        <p id="results4_p">Results for the 4th minute</p>
                        <p id="results5_p">Results for the 5th minute</p>
                        <!-- Emit data JS -->
                        <script src="../static/js/data_emit.js"></script>
                    </div>
                </div>

            </div>
        </section>

        <!-- EChart section for RIPE and Route Views -->
        <section id="echart_ripe">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <!-- Select parameters -->
                        <p class="lead">Retrieving and classify BGP routing records collected by RIPE</p>
                        <!-- Buttons for connection and disconnection -->
                        <div class="btn-toolbar">
                            <button id="btn_connect" type="button" class="btn btn-success mr-3">Connect</button>
                            <button id="btn_disconnect" type="button" class="btn btn-secondary" disabled>Disconnect</button>
                        </div>
                        <br>

                        <!-- Plotting animation -->
                        <div class="d-flex align-items-center">
                            <strong>Anomaly detecting..</strong>
                            <div class="spinner-grow spinner-grow-sm text-primary ml-auto" role="status" aria-hidden="true"></div>
                        </div>

                        <!-- EChart placeholder: results -->
                        <div id="echart_results" class="col-md-12" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
                        <!-- Data direction: Server => user, EChart JS -->
                        <script src="../static/js/echart_emit_results.js"></script>
                        <br>
                        <!-- EChart placeholder: cpu-->
                        <div id="echart_cpu" class="col-md-12" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
                        <!-- Data direction: Server => user, EChart JS -->
                        <script src="../static/js/echart_emit_cpu.js"></script>
                    </div>
                </div>
                <!-- <hr style="height:2px;border-width:0;color:gray;background-color:gray"> -->
            </div>
        </section>

{% endblock %}
