<!--
author: Zhida Li
last edit: Jan. 1, 2022
-->
{% extends "layout.html" %}

{% block content %}
    <!-- Author, 8 columns, offset 2 columns, empty 2 columns -->
    <section id="intro_author">
        <div class="container">
            <div class="row">
                <!-- align left by default, offest-md-->
                <div class="col-md-8 offset-md-2 text-center">
                    <!-- header -->
                    <h3>Introduction of the Author</h3>
                    <!-- can div 12 col inside this 8 col -->
                    <!-- left 4col -->
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../static/imgs/profile_zl.png">
                            <h5>Zhida Li</h5>
                        </div>
                        <!-- right 8col -->
                        <div class="col-md-8 text-left">
                            <p class="lead">Ph.D. Candidate | Research Assistant</p>
                            <!-- style="text-align:justify;" -->
                            <p >Zhida received the B.E. and M.Eng.Sc. degrees in Electrical Engineering and
                                Microelectronic Design
                                from the University College Cork, Ireland, in 2011 and 2013, respectively.
                                He is currently pursuing a Ph.D. degree at Simon Fraser University.</p>
                            <p>His current research project deals with development of fast machine learning algorithms
                                and a real-time system for detecting network anomalies.
                                Zhida is an active IEEE volunteer and served as the Secretary and Vice-Chair
                                of the IEEE SFU Student Branch in 2019-2020 and 2020-2021, respectively.
                                He was a Program Committee Member of IEEE International Conference on High Performance
                                Computing and Communications (HPCC) 2020 and Session Chair at IEEE International
                                Conference on Cyber, Physical, and Social Computing (CPSCom) 2020.
                                He serves as a Publicity Chair of CPSCom 2022.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Email section -->
    <section id="email">

        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h3>Join Our Email List</h3>
                </div>
            </div>
            <!-- input -->
            <div class="row">
                <div class="col-md-8 offset-md-2 text-left">
                    <p>Kindly let us inform you of our latest research</p>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" aria-label="Large"
                               aria-describedby="inputGroup-sizing-sm"
                               placeholder="Your email address">
                    </div>
                    <br>
                    <!-- button -->
                    <a class="btn btn-primary btn-md" href="#" role="button">Send</a>
                </div>
            </div>

        </div>
    </section>

{% endblock %}